<!DOCTYPE html>
@{
            Page.Title = "Exercise 01";
            Layout = "~/_Layout1.cshtml";
}

@section banner
{
    <h1>Exercise01: Basic Form Processing</h1>
}
@section head
{
    <link href="~/Content/myStyleSheet.css" rel="stylesheet" />
    <div>
       }
        <form id="EX01" action="" method="post">
            <div CLASS="ROW">
                <div class="col-sm-6">
                    <label for="leftInput">Customer Name:</label>
                    <input type="text" name="leftInput" id="leftInput"
                           value="" placeholder="" />
                    </div>
                <div class="col-sm-offset-6">
                    <label id="leftinput">Choose your meal items</label><br />
                    <input type="checkbox" name="leftinput" value="Steak" />Steak<br />
                    <input type="checkbox" name="leftinput" value="Seafood" />Seafod<br />
                    <input type="checkbox" name="leftinput" value="Vegetables" />Vegetables<br />
                </div>
                <button type="submit" class="btn" value="">
                    SUBMIT
                </button>
                <button type="submit" class="btn" value="CustomerName">
                    RESET
                </button>
            </div>
        </form>
        </div>
  