<!DOCTYPE html>
@{
            Page.Title = "Exercise 01";
            Layout = "~/_Layout1.cshtml";
}

@section banner
{
    <h1>Exercise01: Basic Form Processing</h1>
}
@section head
{
    <link href="~/Content/myStyleSheet.css" rel="stylesheet" />
    <div>
        <h3>A Simple For</h3>
        <form id="EX01" action="" method="post">
            <div CLASS-"ROW">
                <label for="leftInput">Customer Name:</label>
                <input type="text" name="leftInput" id="leftInput"
                       value="@..." placeholder="" />
            </div>
            <div>

                <script src="~/Scripts/jquery-3.3.1.js"></script>
                <link href="~/Content/bootstrap.css" rel="stylesheet" />
                <script src="~/Scripts/bootstrap.js"></script>

            </div>
            <div>
                <label for="leftInput">Choose your meal:</label>

               </div>

                    <button type="submit" class="btn" value="Submit">
                        SUBMIT
                    </button>
                    <button type="submit" class="btn" value="Reset">
                        RESET
                    </button>

                </form>

            </div>



