@{
    Page.Title = "Exercise01: Basic form Processing";
    Layout = "~/_Layout1.cshtml";
}
@section head
{

}

@section banner
{
    <span style="font-size:xx-large"><strong>Exercise01: Basic form Processing</strong></span>
}

<div>
    <h3>Priyanjali Priyanjali P7</h3>
</div>


@section footer{

}